.tarjeta_tech{

   
}



.imagen_tarjeta2{
    max-height: fit-content;
    max-width: 100%;
    transition: 1s;
}

.imagen_tarjeta2:hover{
    transform: scale(1.1);
    padding: 10px 0;
}